<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="css/stylesheet.css"/>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div id="divmain">
    <h1>
        This is an example Website to illustrate CSS
    </h1>
    <p th:text="'Hello, ' + ${name} + '!'"/><br/>
    <p class="para1"><span class="highlight">Lorem ipsum dolor sit amet</span>, sed non in. Pede risus enim hic rhoncus.
        Nascetur justo, amet donec egestas nulla viverra, pretium neque nec pede id nec, ut in, leo enim. Mi accumsan
        leo, parturient lacinia, a mattis non habitant commodo magna, ac fermentum viverra magna. In urna, ut hymenaeos
        lectus nunc integer quam hymenaeos, scelerisque nascetur maecenas suscipit. Urna ac dolor egestas vitae purus
        natoque, nec sed facilisis sed rutrum eu, eget hendrerit ut ut etiam turpis potenti, amet magnis pellentesque
        feugiat amet. Wisi integer elit porttitor nunc wisi leo, libero risus fusce ut mauris, et aenean, porta et arcu
        turpis velit diam velit. Ipsum aenean arcu commodo quis cum aliquet. </p>
</div>

<div id="divsecond">
    <h2>
        Here is a second header!
    </h2>

    <p class="para2">Lorem ipsum dolor sit amet, sed non in. Pede risus enim hic rhoncus. Nascetur justo, amet donec
        egestas nulla viverra, pretium neque nec pede id nec, ut in, leo enim. Mi accumsan leo, parturient lacinia, a
        mattis non habitant commodo magna, ac fermentum viverra magna. In urna, ut hymenaeos lectus nunc integer quam
        hymenaeos, scelerisque nascetur maecenas suscipit. Urna ac dolor egestas vitae purus natoque, nec sed facilisis
        sed rutrum eu, eget hendrerit ut ut etiam turpis potenti, amet magnis pellentesque feugiat amet. Wisi integer
        elit porttitor nunc wisi leo, libero risus fusce ut mauris, et aenean, porta et arcu turpis velit diam velit.
        Ipsum aenean arcu commodo quis cum aliquet. </p>
</div>

<div id="divthird">
    <h3>
        Here is a third header!
    </h3>

    <p class="para3">Lorem ipsum dolor sit amet, sed non in. Pede risus enim hic rhoncus. Nascetur justo, amet donec
        egestas nulla viverra, pretium neque nec pede id nec, ut in, leo enim. Mi accumsan leo, parturient lacinia, a
        mattis non habitant commodo magna, ac fermentum viverra magna. In urna, ut hymenaeos lectus nunc integer quam
        hymenaeos, scelerisque nascetur maecenas suscipit. Urna ac dolor egestas vitae purus natoque, nec sed facilisis
        sed rutrum eu, eget hendrerit ut ut etiam turpis potenti, amet magnis pellentesque feugiat amet. Wisi integer
        elit porttitor nunc wisi leo, libero risus fusce ut mauris, et aenean, porta et arcu turpis velit diam velit.
        Ipsum aenean arcu commodo quis cum aliquet.</p>
</div>

<div id="divfourth">
    <h4>
        Here is a fourth header!
    </h4>

    <p id="para4homepage">Lorem ipsum dolor sit amet, sed non in. Pede risus enim hic rhoncus. Nascetur justo, amet donec egestas nulla viverra, pretium neque nec pede id nec, ut in, leo enim. Mi accumsan leo, parturient lacinia, a mattis non habitant commodo magna, ac fermentum viverra magna. In urna, ut hymenaeos lectus nunc integer quam hymenaeos, scelerisque nascetur maecenas suscipit. Urna ac dolor egestas vitae purus natoque, nec sed facilisis sed rutrum eu, eget hendrerit ut ut etiam turpis potenti, amet magnis pellentesque feugiat amet. Wisi integer elit porttitor nunc wisi leo, libero risus fusce ut mauris, et aenean, porta et arcu turpis velit diam velit. Ipsum aenean arcu commodo quis cum aliquet.</p>
</div>
</body>
</html>